<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>algorithmically generated crackle flowerbeds!!</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="a canvas for drawing flowerbeds filled with interesting textures" />

  <!-- import the webpage's stylesheet -->
  <!-- link rel="stylesheet" href="/style.css" / -->
  <script src="canvas.js" defer></script>
</head>

<body>
  <header>
    <h1>let's draw a rectangle!!</h1>
  </header>

  <%- flowerbedSVG %>
</body>

</html>