<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>algorithmically generated crackle flowerbeds!!</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="a canvas for drawing flowerbeds filled with interesting textures" />
  <link rel="stylesheet" href="/style.css" />
</head>

<body>
  <header>
    <h1>let's draw a flowerbed!!</h1>
  </header>

  <%- flowerbedSVG %>

  <a href="/<%= seed %>">Permalink</a>
  <br />
  <a href="/<%= seed %>.wif">Download Profile WIF</a>
</body>

</html>